<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>vue-easy-bank-select</title>
    <style>
      #app {
        max-width: 600px;
        margin: 0 auto;
      }
      input {
        width: 100%;
        border: 1px solid #aaa;
        line-height: 1.5;
        padding: 4px 8px;
      }
      * {
        font-size: 16px;
        box-sizing: border-box;
      }
    </style>
  </head>
  <body>
    <link rel="stylesheet" href="./dist/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="./dist/build.js" type="text/javascript"></script>

    <div id="app">
      <h1>銀行情報入力サポート</h1>
      <h2>新規</h2>
      <form>
        <div>
          <label>銀行名</label>
          <el-autocomplete
            v-model="bankName"
            :fetch-suggestions="querySearchBank"
            :trigger-on-focus="false"
            placeholder="銀行名or銀行コード"></el-autocomplete>
        </div>
        <div>
          <label>支店名</label>
          <el-autocomplete
            v-model="branchName"
            :fetch-suggestions="querySearchBranch"
            :trigger-on-focus="false"
            placeholder="支店名or支店コード"></el-autocomplete>
        </div>
        <div>
          <label>支店コード</label>
          {{ bankManager.branchManager.current ? bankManager.branchManager.current.code : '' }}
        </div>
        <div>
          検証
          <table>
            <tr>
              <td>銀行</td>
              <td>{{ bankManager.valid ? '◯' : '×' }}</td>
            </tr>
            <tr>
              <td>支店名</td>
              <td>{{ bankManager.branchManager.valid ? '◯' : '×' }}</td>
            </tr>
            <tr>
              <td>銀行 / 支店名</td>
              <td>{{ bankManager.allValid ? '◯' : '×' }}</td>
            </tr>
          </table>
        </div>
      </form>
    </div>

    <script>
      new Vue({
        el: '#app',
        data: function() {
          return {
            bankManager: new ZenginCodeModel.default.BankManager('', '')
          };
        },
        computed: {
          bankName: {
            get() {
              return this.bankManager.value;
            },
            set(val) {
              this.bankManager.value = val;
            }
          },
          branchName: {
            get() {
              return this.bankManager.branchManager.value;
            },
            set(val) {
              this.bankManager.branchManager.value = val;
            }
          },
          bankNames() {
            return this.bankManager.data.map(bank => {
              return { value: bank.name };
            });
          },
          branchNames() {
            return this.bankManager.branchManager.data.map(branch => {
              return { value: branch.name };
            });
          }
        },
        methods: {
          handleClickBank(val) {
            this.bankName = val;
          },
          querySearchBank(queryString, cb) {
            cb(this.bankNames);
          },
          querySearchBranch(queryString, cb) {
            cb(this.branchNames);
          }
        }
      });
    </script>
  </body>
</html>
